# Исходный код и тесты
src/
tests/
*.ts
!dist/**/*.d.ts

# Конфигурация разработки, конфиги линта
tsconfig.json
tsup.config.ts
.gitignore
.npmignore
eslint.config.mjs
bun.lock
.github/

# Примеры и документация
example-*.json
example-*.ts
CHANGELOG.md

# Временные файлы
*.log
.DS_Store
